*{	-webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
    list-style: none;
}

/*================================
TYPOGRAPHY
================================*/
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
}

.bigicon {font-size: 3em;}
h2{font-size: 42px;}
h3{font-size: 28px;}
h4{font-size: 18px; line-height: 1.4em;}

p{
    letter-spacing: 1px;
    color: black;
    font-weight: lighter;
}


/*================================
DEFAULT STYLE & FORMATING
================================*/
ul{padding: 0;}

a:hover{color: #c3c3c3; text-decoration: none;}

#interests {text-align: center;}
.col-md-4, .col-md-6{padding-bottom: 50px;}
.col-md-3 {padding: 0;}

.sectionhead{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.separetor{
    width: 80px;

}


.btn-default{
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 50px 0;
    color: #c3c3c3;
    letter-spacing: 2px;
}

.btn-default:hover{
    background: none;

}

.btnicon, .brandicon{
    margin-right: 10px;
}


/*================================
HEADER AREA
================================*/
#header {
    color: #01060a;
    text-align: center;

    max-height: 880px;
    overflow: hidden;

}
#header-title {
    font-size: 90px;
    font-weight: bolder;
    color: #01060a;
    letter-spacing: -2px;
    margin: -45px auto 10px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);

}
#header-subtext {
    font-size: 20px;

}

.headercontent {
    padding-top: 100px;
    width: 100%;
    max-width: 900px;
}
.headershot {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
}

.haeadersocial {margin-top: 30px;}

.haeadersocial li{
    display:inline;
    padding: 0 15px;
    font-size: 2em;
}

/*================================
CLIENTS SECTION
================================*/
#clients{
    padding-top: 30px;
}
#clients h4{
    text-transooteorm: uppercase;
    padding-top: 10px;
}

#clients .col-md-4{
    padding-bottom: 0;
}

#clients ul{float: right}

#clients li{
    display: inline;
    margin-right: 35px;
}

#clients li:last-child{
    margin-right: 0px;
}


/*================================
ABOUT SECTION
================================*/
#about{padding-top: 100px;}

.myapps{margin-top: 25px;}
.myapps li{display: inline}
.myapps li img{
    width: 30px;
}
#about .myphoto {
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    position: relative;
    width: 240px;
    height: 300px;

    background-size: cover;
    border-radius: 20px;
    background-image: url("../img/user.jpg");

}



#interests .iconsize{
    width: 100px;
    height: 100px;
}

/*================================
PORTFOLIO SECTION
================================*/

.challengesIntro{
  text-align: left;
    
    
}
.challengesTable{
    width: 100%;


}

.challenge{
    text-align: left;
    width: 100%;
}
.repo{

    text-align: left;
}
.instruction{
    text-align: left;

}

/*================================
TESTIMONIAL SECTION
================================*/

.clientsphoto img{
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.clientsphoto img:hover{
    border-radius: 15%;
}

blockquote{
    margin: 0;
    padding: 0 0 10px 0;
    border: none;
}

blockquote p{   
    font-style: italic;
    font-size: 14px;
}

.quote{overflow: hidden}
.quote h5{margin-bottom: 5px;}


/*================================
FOOTER SECTION
================================*/

footer{
    text-align: center;

}


.footerlinks{margin: 30px 0;}
.footerlinks li{
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/


#skills .skillstable {
    margin-top: 36px;

}
#skills  .skill {
    position: relative;
    margin-bottom: 60px;
    margin-right: 5%;
    background: #ccc;
    height: 42px;
    border-radius: 3px;
    padding-bottom: 0px;
}
#skills  .stitle {
    font: 15px 'opensans-bold', sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    position: relative;
    top: -36px;
}
#skills .bar-expand {
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    padding-right: 24px;
    background: #313131;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
}

.javascript {
    width: 80%;
    -moz-animation: javascript 25s ease;
    -webkit-animation: javascript 25s ease;
}
@-moz-keyframes javascript {
    0%   { width: 0px;  }
    100% { width: 80%;  }
}
@-webkit-keyframes javascript {
    0%   { width: 0px;  }
    100% { width: 80%;  }
}

.node {
    width: 65%;
    -moz-animation: node 25s ease;
    -webkit-animation: node 25s ease;
}
@-moz-keyframes node {
    0%   { width: 0px;  }
    100% { width: 65%;  }
}
@-webkit-keyframes node {
    0%   { width: 0px;  }
    100% { width: 65%;  }
}
.mongo {
    width: 10%;
    -moz-animation: mongo 25s ease;
    -webkit-animation: mongo 25s ease;
}
@-moz-keyframes  mongo{
    0%   { width: 0px;  }
    100% { width: 10%;  }
}
@-webkit-keyframes  mongo{
    0%   { width: 0px;  }
    100% { width: 10%;  }
}
.unix {
    width: 70%;
    -moz-animation: unix 25s ease;
    -webkit-animation: unix 25s ease;
}
@-moz-keyframes  unix{
    0%   { width: 0px;  }
    100% { width: 70%;  }
}
@-webkit-keyframes  unix{
    0%   { width: 0px;  }
    100% { width: 70%;  }
}

.mysql {
    width: 60%;
    -moz-animation: mysql 25s ease;
    -webkit-animation: mysql 25s ease;
}
@-moz-keyframes  mysql{
    0%   { width: 0px;  }
    100% { width: 60%;  }
}
@-webkit-keyframes  mysql{
    0%   { width: 0px;  }
    100% { width: 60%;  }
}

.java {
    width: 70%;
    -moz-animation-direction: initial;
    -moz-animation: java 25s ease;
    -webkit-animation: java 25s ease;
}
@-moz-keyframes java {
    0%   { width: 0px;  }
    100% { width: 70%;  }
}
@-webkit-keyframes java {
    0%   { width: 0px;  }
    100% { width: 70%;  }
}
.cplusplus {
    width: 80%;
    -moz-animation: cplusplus 25s ease;
    -webkit-animation: cplusplus 25s ease;
}
@-moz-keyframes cplusplus {
    0%   { width: 0px;  }
    100% { width: 80%;  }
}
@-webkit-keyframes cplusplus {
    0%   { width: 0px;  }
    100% { width: 80%;  }
}
.css {
    width: 50%;
    -moz-animation: css 25s ease;
    -webkit-animation: css 25s ease;
}
@-moz-keyframes css {
    0%   { width: 0px;  }
    100% { width: 50%;  }
}
@-webkit-keyframes css {
    0%   { width: 0px;  }
    100% { width: 50%;  }
}
.php {
    width: 50%;
    -moz-animation: php 25s ease;
    -webkit-animation: php 25s ease;
}
@-moz-keyframes php {
    0%   { width: 0px;  }
    100% { width: 50%;  }
}
@-webkit-keyframes php {
    0%   { width: 0px;  }
    100% { width: 50%;  }
}
.html5 {
    width: 70%;
    -moz-animation: html5 25s ease;
    -webkit-animation: html5 25s ease;
}
@-moz-keyframes html5 {
    0%   { width: 0px;  }
    100% { width: 70%;  }
}
@-webkit-keyframes html5 {
    0%   { width: 0px;  }
    100% { width: 70%;  }
}
.jquery {
    width: 30%;
    -moz-animation: jquery 25s ease;
    -webkit-animation: jquery 25s ease;
}
@-moz-keyframes jquery {
    0%   { width: 0px;  }
    100% { width: 30%;  }
}
@-webkit-keyframes jquery {
    0%   { width: 0px;  }
    100% { width: 30%;  }
}


