body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;	
	background-color: #111111;
	width: 100%;
    font-size: 1em; 
    line-height:1.2;
	color: #FFFFFF
}

h1 {
	margin-top: 5px;
	margin-bottom: 10px;
}

h2 {
	margin-top: 5px;
	margin-bottom: 10px;
}

td {
	vertical-align: top;
}

A:link {
text-decoration: none;
color: #FFFFFF;
}

A:visited {
text-decoration: none;
color: #AAAAAA;
}

A:hover {
text-decoration: underline;
color: #AAAAAA;
}

#description
{
    position: absolute;
	top: 25%;
	left: 5%;
	width: 90%;
}	

#title
{
    position: absolute;
	top: 10%;
	left: 5%;

}
#images
{
    position: absolute;
	top: 12%;
	left: 65%;
	visibility: hidden;
}

#navbar
{
	margin-top: 5%;
}

#navbar-table
{
	width: 100%
}

.navbar-col{
	width: 50%
}
